<style>
    .raidio_buttons p{
        float:right;
        clear: both;
    }
</style>
<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">
        
 <div class="row">
    
      
      
      
      <p style='text-align: right;'>
      قیمت پلن فعالیت در پین سود مبلغ ۵۰ هزارتومان میباشد با احتساب ۹ درصد مالیات مبلغ ۵۴۵۰۰ تومان قیبل پرداخت میباشد    
      </p>
      
      
      
      
<div class="input-field col s12 raidio_buttons">
           <p>
      <input class="with-gap" name="group1" type="radio" id="test1" />
      <label for="test1">۱ ماهه</label>
    </p>
    
    
    <p>
      <input class="with-gap" name="group1" type="radio" id="test2" />
      <label for="test2">۳ ماهه</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">۶ ماهه</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test4" />
      <label for="test4">۱۲ ماهه</label>
    </p>
    
    </div>
    
<p id='xx' style='display:none;'>



قیمت تعرفه 	50,۰۰۰ تومان
<br>
هزینه مالیات 	4,500 تومان
<br>
تخفیف 	۰ تومان
<br>
قیمت کل 	54,5۰۰ تومان

</p>      
      
      
      
      
        <%= button_tag :type => 'submit', :class => "waves-effect waves-light btn" do %>
         <i class="material-icons left">cloud</i>پرداخت
        <% end %>
    

      </div>
      
      
      
      
    
  </div>
        
        
        
            
            
          
          
        </div>
      </div>
 </div>

</main>
<% content_for :head do -%>
<script>
jQuery.noConflict()(function ($) {
$(document).ready(function(){
$('.with-gap').click(function(){
$('#xx').show();
});

});
});
</script>
<% end -%>
