<nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                  
                  
                   <%= render partial: 'public/home/menu_links' %>
                    
             
                  
                </ul>

            </div>
        </nav>
        
       
