<nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                  
                  
                  <% unless current_user.nil? %>
                  <li>
                      <%= link_to 'دنبال شدگان',public_home_following_path %>
                  </li>
                  <li>
                      <%= link_to 'تایم لاین',public_home_following_post_path %>
                  </li>
                  
                   <li>
                      <%= link_to 'تیکت ها',public_tickets_path %>
                  </li>
                  <% end %>
                  
                        <li><a href="/pages/demo">
                    فرصت‌های شغلی
                    </a></li>
                    <li><a href="/pages/dark-theme">
                        درباره آگورنا
                    </a></li>
                    <li><a href="/pages/blog">
                    وبلاگ
                    </a></li>
                    
             
                  
                </ul>
<% if current_user.nil? %>
                <a class="waves-effect waves-light btn" href="/users/sign_in"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>
<% else %>
                <% unless current_user.level == 0%>
                <a class="waves-effect waves-light btn" href="/admin/dashboard/index"><i class="material-icons right">person_pin</i>داشبورد</a>
                
                <% else %>
                <a class="waves-effect waves-light btn" href="/users/sign_out"><i class="material-icons right">person_pin</i>خروج</a>
                <% end %>
<% end %>
            </div>
        </nav>
        
       
