<div class="input-field dynamic_field col s12" style='<%= 'display:none;' if field.categories.size > 1 %>' categories='<%= field.categories %>' >
         <%= f.select(field.name, field.props.collect {|p|  p.name  },{prompt: field.name}, {:class=>'browser-default'}) %>
</div> 
